[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "==1.3.2"
numpy = "*"
gym = "==0.15.3"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7"
